<div class="container">
    <section class="info-section">
        <div class="info-details">
            <div class="info-grid">
                <div class="info-item" style="border-right: 1px solid brown;">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../../assets/icons/goutte-de-sang (1)(1).png" style="float: right; width: 58px;" alt="Elements Icon">
                        </div>
                        <div class="col-6">
                            <img src="../../../../assets/icons/les-terres-agricoles(1).png" style="float: left; width: 70px;" alt="Elements Icon">
                        </div>
                    </div>
                    <!-- <i class="fa-solid fa-droplet"></i> -->
                    <h3 style="font-weight: 900">ÉLÉMENTS</h3>
                    <p>Eau + Terre</p>
                </div>
                <div class="info-item" style="border-right: 1px solid brown;">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../../assets/icons/lever-du-soleil(1).png" style="float: right; width: 60px;" alt="Elements Icon">
                        </div>
                        <div class="col-6">
                            <img src="../../../../assets/icons/lune(1).png" style="float: left; width: 55px;" alt="Elements Icon">
                        </div>
                    </div>
                    <h3 style="font-weight: 900">PÉRIODE</h3>
                    <p>10h - 14h <br> 22h - 02h</p>
                </div>
                <div class="info-item" >
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../../assets/icons/flocon-de-neige(1).png" style="float: right; width: 55px;" alt="Elements Icon">
                        </div>
                        <!-- <div class="col-6">
                            <img src="../../../../assets/icons/fleurs(1).png" style="float: left; width: 55px;" alt="Elements Icon">
                        </div> -->
                    </div>
                    <h3 style="font-weight: 900">SAISON</h3>
                    <p>Été</p>
                </div>
            </div>
            <div class="kapha-description">
                <h4 style="font-weight: 900">Vous êtes Pitta : passionné, déterminé, et toujours prêt à débattre, même sur la meilleure façon de faire cuire des pâtes.</h4>
                <p>Pitta incarne l'énergie de la transformation, dérivée des éléments Feu et Eau, et se manifeste par la chaleur et la métabolisation. Souvent appelé le "Maître du Métabolisme", Pitta est responsable de la digestion, de l'absorption et de la régulation de la température corporelle. Pitta alimente également la vitalité des autres doshas, Vata et Kapha, en assurant leur bon fonctionnement grâce à son pouvoir de transformation.</p>
                <p>Il est important d'éviter les excès de chaleur, tant dans le climat que dans l'alimentation. Un Pitta équilibré favorise une digestion saine, une bonne concentration et une énergie dynamique. Cependant, un déséquilibre peut provoquer de l'irritabilité, de l'impatience, des inflammations, des brûlures d'estomac et des problèmes de peau.</p>
                <p>Pour maintenir Pitta en équilibre, il est recommandé d'éviter les aliments épicés et acides, de privilégier les environnements frais et de pratiquer des activités modérées comme le yoga ou la danse. La modération est essentielle, tant dans l'expression des émotions que dans le rythme de vie (trouver un équilibre entre le travail et la vie personnelle). En cas de déséquilibre, il est important de ralentir, de rester au frais, de limiter les excitants et de se détendre régulièrement par la méditation, le vélo, la danse ou la musique.</p>
            </div>
        </div>
        <div class="kapha-image">
            <img src="../../../../assets/images/lake-surrounded-by-trees-and-mountains-during-dayt-iphone.jpg" alt="Kapha Image">
            <h1>PITTA</h1>
        </div>
    </section>
</div>
<div class="container-tty">
    <h1 class="h1op">TRAITS DE CARACTÈRE</h1>
    <div class="traits">
        <!-- First Trait -->
        <div class="trait">
            <img src="../../../../assets/icons/conflit(1).png" style="width: 60px;" alt="Empathy Icon">
            <p>Vous êtes efficace, organisé et perfectionniste, avec une bonne mémoire. Vos pensées et vos idées sont logiques et bien structurées. Vous êtes persuasif et avez tendance à dominer la conversation.</p>
        </div>

        <div class="divider"></div>

        <!-- Second Trait -->
        <div class="trait">
            <img src="../../../../assets/icons/calendrier(1).png" alt="Patience Icon">
            <p>Vous êtes des leaders nés, axés sur les objectifs ! Votre but ? C’est de gagner ! Vous adorez les nouveaux défis et êtes très compétitif.</p>
        </div>

        <div class="divider"></div>

        <!-- Third Trait -->
        <div class="trait">
            <img src="../../../../assets/icons/boussole(1).png" alt="Routine Icon">
            <p>Les débats et les arguments sérieux ne manqueront pas de faire monter votre Pitta. Votre nature agressive et tenace peut être déplaisante pour certaines personnes, ce qui peut conduire à des conflits.</p>
        </div>
    </div>
</div>
<div style="overflow-x: hidden;">
    <app-app-corousal-component-2></app-app-corousal-component-2>
</div>
<div class="p-body">
    <div class="p-container">
        <p class="p">
            Si vous avez un type de corps mixte, vous pouvez avoir des caractéristiques de Pitta et Kapha également, vous avez besoin de l'aide d'un expert pour évaluer votre type de corps et vous conseiller sur les modifications à apporter à votre hygiène de vie.
        </p>
    </div>
</div>
<div class="afterpara-container">
    <h1 class="after-parah1">POUR ALLER PLUS LOIN</h1>
    
    <div class="afterpara-section">
        <img src="image1.jpg" alt="Image de la piscine" class="after-paraimage">
        <div class="after-paracontent">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."
            </p>
            <a href="#" class="after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>

    <div class="afterpara-section">
        <img src="image1.jpg" alt="Image de la piscine" class="after-paraimage">
        <div class="after-paracontent">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."
            </p>
            <a href="#" class="after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>
</div>