<div class="container">
    <section class="info-section py-4">
        <div class="row">
            <!-- Info Details -->
            <div class="col-lg-8 col-md-12 info-details">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <!-- ÉLÉMENTS -->
                    <div class="info-item text-center d-flex flex-column align-items-center justify-content-center p-3 border-end flex-grow-1">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="../../../../assets/icons/goutte-de-sang (1)(1).png" class="img-fluid" style="width: 40px;" alt="Elements Icon">
                            <img src="../../../../assets/icons/les-terres-agricoles(1).png" class="img-fluid ms-2" style="width: 50px;" alt="Elements Icon">
                        </div>
                        <h3 class="fw-bold mt-3" style="font-size: 1rem;">ÉLÉMENTS</h3>
                        <p style="font-size: 0.9rem;">Eau + Terre</p>
                    </div>
        
                    <!-- PÉRIODE -->
                    <div class="info-item text-center d-flex flex-column align-items-center justify-content-center p-3 border-end flex-grow-1">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="../../../../assets/icons/lever-du-soleil(1).png" class="img-fluid" style="width: 40px;" alt="Elements Icon">
                            <img src="../../../../assets/icons/lune(1).png" class="img-fluid ms-2" style="width: 40px;" alt="Elements Icon">
                        </div>
                        <h3 class="fw-bold mt-3" style="font-size: 1rem;">PÉRIODE</h3>
                        <p style="font-size: 0.9rem;">10h - 14h <br> 22h - 02h</p>
                    </div>
        
                    <!-- SAISON -->
                    <div class="info-item text-center d-flex flex-column align-items-center justify-content-center p-3 flex-grow-1">
                        <img src="../../../../assets/icons/flocon-de-neige(1).png" class="img-fluid" style="width: 40px;" alt="Elements Icon">
                        <h3 class="fw-bold mt-3" style="font-size: 1rem;">SAISON</h3>
                        <p style="font-size: 0.9rem;">Été</p>
                    </div>
                </div>
    
                <!-- Description -->
                <div class="kapha-description mt-4">
                    <h4 class="fw-bold">Vous êtes Pitta : passionné, déterminé, et toujours prêt à débattre, même sur la meilleure façon de faire cuire des pâtes.</h4>
                    <p>Pitta incarne l'énergie de la transformation, dérivée des éléments Feu et Eau, et se manifeste par la chaleur et la métabolisation. Souvent appelé le "Maître du Métabolisme", Pitta est responsable de la digestion, de l'absorption et de la régulation de la température corporelle. Pitta alimente également la vitalité des autres doshas, Vata et Kapha, en assurant leur bon fonctionnement grâce à son pouvoir de transformation.</p>
                    <p>Il est important d'éviter les excès de chaleur, tant dans le climat que dans l'alimentation. Un Pitta équilibré favorise une digestion saine, une bonne concentration et une énergie dynamique. Cependant, un déséquilibre peut provoquer de l'irritabilité, de l'impatience, des inflammations, des brûlures d'estomac et des problèmes de peau.</p>
                    <p>Pour maintenir Pitta en équilibre, il est recommandé d'éviter les aliments épicés et acides, de privilégier les environnements frais et de pratiquer des activités modérées comme le yoga ou la danse. La modération est essentielle, tant dans l'expression des émotions que dans le rythme de vie (trouver un équilibre entre le travail et la vie personnelle). En cas de déséquilibre, il est important de ralentir, de rester au frais, de limiter les excitants et de se détendre régulièrement par la méditation, le vélo, la danse ou la musique.</p>
                </div>
            </div>
    
            <!-- Kapha Image -->
            <div class="col-lg-4 col-md-12 text-center kapha-image mt-4 mt-lg-0">
                <img src="../../../../assets/images/pitta_first_page.png" style="height: 100%; width: 100%;" class="img-fluid mb-3" alt="Kapha Image">
                <h1 class="fw-bold">PITTA</h1>
            </div>
        </div>
    </section>
</div>
<div class="container-tty">
    <h1 class="h1op text-center">TRAITS DE CARACTÈRE</h1>
    <div class="traits row justify-content-center">
        <!-- First Trait -->
        <div class="col-12 col-md-4 trait text-center trait-border mb-4">
            <img src="../../../../assets/icons/calendrier(1).png" style="width: 60px;" alt="Empathy Icon">
            <p>Vous êtes efficace, organisé et perfectionniste, avec une bonne mémoire. Vos pensées et vos idées sont logiques et bien structurées. Vous êtes persuasif et avez tendance à dominer la conversation.</p>
        </div>

        <!-- Second Trait -->
        <div class="col-12 col-md-4 trait text-center trait-border mb-4">
            <img src="../../../../assets/icons/icons8-goal-100.png" alt="Patience Icon">
            <p>Vous êtes des leaders nés, axés sur les objectifs ! Votre but ? C’est de gagner ! Vous adorez les nouveaux défis et êtes très compétitif.</p>
        </div>

        <!-- Third Trait -->
        <div class="col-12 col-md-4 trait text-center mb-4">
            <img src="../../../../assets/icons/conflit(1).png" alt="Routine Icon">
            <p>Les débats et les arguments sérieux ne manqueront pas de faire monter votre Pitta. Votre nature agressive et tenace peut être déplaisante pour certaines personnes, ce qui peut conduire à des conflits.</p>
        </div>
    </div>
</div>

<div style="overflow-x: hidden; margin-left: -50px;">
    <app-app-corousal-component-2></app-app-corousal-component-2>
</div>
<div class="p-body">
    <div class="p-container">
        <p class="p">
            Si vous avez un type de corps mixte, vous pouvez avoir des caractéristiques de Pitta et Kapha également, vous avez besoin de l'aide d'un expert pour évaluer votre type de corps et vous conseiller sur les modifications à apporter à votre hygiène de vie.
        </p>
    </div>
</div>
<div class="py-4">
    <h1 class="text-center after-parah1 mb-4">POUR ALLER PLUS LOIN</h1>

    <div class="row afterpara-section align-items-center mb-4">
        <!-- First Section -->
        <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
            <img src="../../../../assets/images/mod.jpg" alt="Image de la piscine" class="after-paraimage img-fluid">
        </div>
        <div class="col-md-8 col-12">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
            </p>
            <a href="#" class="btn btn-primary after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>

    <div class="row afterpara-section align-items-center mb-4">
        <!-- Second Section -->
        <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
            <img src="../../../../assets/images/someli.jpg" alt="Image de la piscine" class="after-paraimage img-fluid">
        </div>
        <div class="col-md-8 col-12">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
            </p>
            <a href="#" class="btn btn-primary after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>

    <div class="row afterpara-section align-items-center">
        <!-- Third Section -->
        <div class="col-md-4 col-12 text-center text-md-start mb-3 mb-md-0">
            <img src="../../../../assets/images/alimentation.jpg" alt="Image de la piscine" class="after-paraimage img-fluid">
        </div>
        <div class="col-md-8 col-12">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
            </p>
            <a href="#" class="btn btn-primary after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>
</div>

<div class="r-body">
    <div class="r-container">
        <h2 class="r-container-h2">RAPPEL :</h2>
        <p class="r-container-p">
            Le seul but de ces articles est de fournir des informations sur les pratiques de l'Ayurveda. Ces renseignements ne sont pas destinés au diagnostic, au traitement, à la guérison d'une maladie. Si vous avez des problèmes de santé aigus ou chroniques graves, veuillez consulter un professionnel de la santé qualifié qui pourra évaluer vos besoins et y répondre efficacement. Consultez votre médecin avant de prendre des herbes ou d’utiliser des huiles essentielles pendant la grossesse ou l’allaitement.
        </p>
    </div>
</div>
<app-footer></app-footer>