<div class="container">
    <section class="info-section">
        <div class="info-details">
            <div class="info-grid">
                <div class="info-item" style="border-right: 1px solid brown;">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../../assets/icons/goutte-de-sang (1)(1).png" style="float: right; width: 58px;" alt="Elements Icon">
                        </div>
                        <div class="col-6">
                            <img src="../../../../assets/icons/les-terres-agricoles(1).png" style="float: left; width: 70px;" alt="Elements Icon">
                        </div>
                    </div>
                    <!-- <i class="fa-solid fa-droplet"></i> -->
                    <h3 style="font-weight: 900">ÉLÉMENTS</h3>
                    <p>Eau + Terre</p>
                </div>
                <div class="info-item" style="border-right: 1px solid brown;">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../../assets/icons/lever-du-soleil(1).png" style="float: right; width: 60px;" alt="Elements Icon">
                        </div>
                        <div class="col-6">
                            <img src="../../../../assets/icons/lune(1).png" style="float: left; width: 55px;" alt="Elements Icon">
                        </div>
                    </div>
                    <h3 style="font-weight: 900">PÉRIODE</h3>
                    <p>6h - 10h <br> 18h - 22h</p>
                </div>
                <div class="info-item" >
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../../assets/icons/flocon-de-neige(1).png" style="float: right; width: 55px;" alt="Elements Icon">
                        </div>
                        <div class="col-6">
                            <img src="../../../../assets/icons/fleurs(1).png" style="float: left; width: 55px;" alt="Elements Icon">
                        </div>
                    </div>
                    <h3 style="font-weight: 900">SAISON</h3>
                    <p>Hiver <br> Printemps</p>
                </div>
            </div>
            <div class="kapha-description">
                <h4 style="font-weight: 900">Vous êtes Kapha : toujours calme et posé, comme une montagne de tranquillité... sauf quand on vous réveille de votre sieste sacrée.</h4>
                <p>Kapha incarne l'énergie de la stabilité et de la structure, dérivée des éléments Terre et Eau, et se traduit par la solidité et la cohésion. Souvent appelé le « Gardien de l'Endurance », Kapha est la force qui donne au corps sa forme, sa robustesse, et sa résistance. Il offre un soutien vital au Vata et au Pitta, les ancrant dans une base solide et permettant à l'organisme de maintenir son équilibre.</p>
                <p>Ceux qui ont une dominance Kapha sont souvent robustes, patients, et d'un grand soutien pour les autres. Leur nature réfléchie leur permet de rester calmes et posés. Toutefois, un Kapha déséquilibré peut entraîner de la léthargie, une digestion lente, une prise de poids, et des problèmes respiratoires.</p>
                <p>Pour équilibrer Kapha, sortez de votre zone de confort. Il est essentiel de rester actif, de stimuler le métabolisme avec des épices réchauffantes, d'éviter les excès de sommeil et de manger léger. Trop de repos, une alimentation lourde, et l'exposition au froid aggravent Kapha, alors que la chaleur, l'exercice régulier et une alimentation légère et épicée aident à le stabiliser.</p>
            </div>
        </div>
        <div class="kapha-image">
            <img src="../../../../assets/images/lake-surrounded-by-trees-and-mountains-during-dayt-iphone.jpg" alt="Kapha Image">
            <h1>KAPHA</h1>
        </div>
    </section>
</div>
<div class="container-tty">
    <h1 class="h1op">TRAITS DE CARACTÈRE</h1>
    <div class="traits">
        <!-- First Trait -->
        <div class="trait">
            <img src="../../../../assets/icons/conflit(1).png" style="width: 60px;" alt="Empathy Icon">
            <p>Vous êtes l'ami câlin du groupe, celui sur qui tout le monde peut compter. Votre nature douce et empathique vous permet de créer des liens émotionnels profonds. Vous êtes tellement attentif aux autres que vous pourriez ignorer votre propre envie pour satisfaire tout le monde.</p>
        </div>

        <div class="divider"></div>

        <!-- Second Trait -->
        <div class="trait">
            <img src="../../../../assets/icons/calendrier(1).png" alt="Patience Icon">
            <p>Vous incarnez la zen attitude, restant calme même quand tout le monde panique. Avec une patience d'ange, vous prenez toujours le temps de réfléchir avant d'agir. Quand vous vous fixez un objectif, c'est comme un puzzle de 1000 pièces, vous ne lâchez rien jusqu'à ce que tout soit en place.</p>
        </div>

        <div class="divider"></div>

        <!-- Third Trait -->
        <div class="trait">
            <img src="../../../../assets/icons/boussole(1).png" alt="Routine Icon">
            <p>Vous adorez votre routine, comme prendre votre café à la même heure chaque jour. Les changements brusques ne sont pas vraiment votre truc. Vous valorisez la tranquillité et savez apprécier les petits plaisirs simples, comme s'endormir devant une série déjà vue dix fois.</p>
        </div>
    </div>
</div>
<main>
    <app-corousal-component></app-corousal-component>
</main>
<div class="p-body">
    <div class="p-container">
        <p class="p">
            Si vous avez un type de corps mixte, vous pouvez avoir des caractéristiques de Pitta et Kapha également, vous avez besoin de l'aide d'un expert pour évaluer votre type de corps et vous conseiller sur les modifications à apporter à votre hygiène de vie.
        </p>
    </div>
</div>
<div class="afterpara-container">
    <h1 class="after-parah1">POUR ALLER PLUS LOIN</h1>
    
    <div class="afterpara-section">
        <img src="image1.jpg" alt="Image de la piscine" class="after-paraimage">
        <div class="after-paracontent">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."
            </p>
            <a href="#" class="after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>

    <div class="afterpara-section">
        <img src="image1.jpg" alt="Image de la piscine" class="after-paraimage">
        <div class="after-paracontent">
            <h2 class="after-parah2">RÉGIME ALIMENTAIRE POUR KAPHA</h2>
            <p class="after-parap">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."
            </p>
            <a href="#" class="after-parabutton">LIRE L’ARTICLE</a>
        </div>
    </div>
</div>
<div class="r-body">
    <div class="r-container">
        <h2 class="r-container-h2">RAPPEL :</h2>
        <p class="r-container-p">
            Le seul but de ces articles est de fournir des informations sur les pratiques de l'Ayurveda. Ces renseignements ne sont pas destinés au diagnostic, au traitement, à la guérison d'une maladie. Si vous avez des problèmes de santé aigus ou chroniques graves, veuillez consulter un professionnel de la santé qualifié qui pourra évaluer vos besoins et y répondre efficacement. Consultez votre médecin avant de prendre des herbes ou d’utiliser des huiles essentielles pendant la grossesse ou l’allaitement.
        </p>
    </div>
</div>
<app-footer></app-footer>