<div class="row">
	<div class="col-md-10 mx-auto">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<!-- <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol> -->
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../../../assets/images/about-blog-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content" style="height: 45vh;">
									<h4>Santé </h4>
									<p>Les individus de type Pitta, influencés par le Feu, sont sujets aux inflammations, aux brûlures d'estomac et aux troubles cutanés comme l'acné. Ils sont sensibles à la chaleur et peuvent souffrir de stress, d'irritabilité et de bouffées de chaleur. Pour équilibrer Pitta, il est recommandé de privilégier les environnements frais, de consommer des aliments rafraîchissants et d'éviter les situations et les aliments trop épicés ou chauds.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../../../assets/images/home-2-blog.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content" style="height: 45vh;">
									<h4>Physique :</h4>
									<p>Vous avez un corps de taille moyenne avec une bonne musculature. Votre peau et vos cheveux sont doux mais peuvent être légèrement gras et sujets au vieillissement prématuré ou à la calvitie. Vous êtes généralement sportif et bien bâti, avec une capacité à prendre et à perdre du poids facilement.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../../../assets/images/home-2-blog-2.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content" style="height: 45vh;">
									<h4>Sommeil</h4>
									<p>Vous appréciez dormir dans des conditions militaires, sur un matelas ferme avec peu de couverture, et 7 à 8 heures de sommeil suffisent. Vos rêves sont souvent mouvementés et basés sur l'action, mais ils ne vous réveillent pas fréquemment. En période de déséquilibre, vous pouvez avoir du mal à vous endormir à cause d'un esprit hyperactif. Vous êtes souvent plus productif la nuit, ce qui peut vous rendre noctambule.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="/examples/images/cities/kuala-lumpur.png" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Alimentation : </h4>
									<p>Pour maintenir l'équilibre du dosha Pitta, il est recommandé de privilégier des aliments frais, crus ou légèrement cuits. De manière générale, les aliments végétariens sont préférables, car la viande rouge tend à chauffer le corps en raison de ses graisses. Il est important d'éviter les fruits acides, ainsi que les aliments chauds, gras et épicés, pour prévenir tout déséquilibre du Pitta. Consommer en abondance du lait, des céréales et des légumes aide à maintenir l'harmonie de ce dosha.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="/examples/images/cities/agra.png" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Digestion : </h4>
									<p>Vous avez un appétit fort et constant avec une bonne digestion, mais cela peut vous amener à manger sans réfléchir à la qualité et à la quantité de ce que vous consommez. Vous mangez souvent rapidement et mâchez moins. Prenez le temps de savourer vos repas !</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="/examples/images/cities/dubai.png" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Mode de vie : </h4>
									<p>Étant donné que Pitta génère de la chaleur, il est important de maintenir des températures plus basses. Faites de l'exercice tôt le matin ou tard le soir, lorsque la température est plus fraîche. Les sports d'équipe peuvent être bénéfiques pour vous. L'auto-massage avec une huile rafraîchissante peut également aider à équilibrer votre Pitta. 
                                        ________________________________________
                                        En suivant ces conseils, vous pouvez maintenir l'équilibre de votre dosha Vata et vivre en harmonie avec votre nature. Si vous avez un type de constitution mixte, présentant également des caractéristiques de Kapha et Vata, il est recommandé de consulter un expert pour évaluer votre constitution et vous conseiller sur les ajustements à apporter à votre hygiène de vie.
                                        ________________________________________
                                        </p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
</div>