<app-web-header></app-web-header>
<div class="app__wrapper text-center" style="align-items: center;">
    <div class="container" style="margin-top: 120px;">
        <div class="row">
            <div class="col-6">
                <label for="" style="font-size: 20px;">WHAT IS YOUR NAME ?</label>
            </div>
            <div class="col-6">
                <label for="" style="font-size: 20px;">WHAT IS YOUR EMAIL ADDRESS ?</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <input type="text" class="rounded" name="" id="">
            </div>
            <div class="col-6">
                <input type="text" class="rounded" name="" id="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="" style="font-size: 20px;">WHAT IS YOUR DATE OF BIRTH ?</label>
            </div>
            <div class="col-6">
                <label for="" style="font-size: 20px;">HOW DO YOU IDENTIFY ?</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6" >
                <div class="row">
                    <div class="col">
                        <select name="" class="rounded" id="">
                            <option value="">Moth</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="" class="rounded" id="">
                            <option value="">Moth</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="" class="rounded" id="">
                            <option value="">Moth</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <select name="" class="rounded" id="">
                    <option value="">Select Gender</option>
                </select>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <button class="rounded" style="background-color: #EA6642; width: 300px; float: right; color: white;">Continue</button>
            </div>
        </div>
    </div>
</div>