<app-web-header></app-web-header>
<div class="app__wrapper">
    <div class="row" style="margin-top: 130px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 style="font-weight: bolder; font-style: italic;">DOSHA QUIZ</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p style="font-size: 25px;">1. Si j'étais un animal, quelle serait mon apparence physique ?</p>
                </div>
                <div class="col-12">
                    <div class="row" style="justify-content: center;">
                        <div class="col-5" style="background-color:  rgb(101, 56, 56); padding-top: 7px; padding-bottom: 7px; color: white;">
                            <input type="checkbox" class="form-check-input me-2" style="background-color: grey;">
                            Chenille 🐛 : Mince et légère —-
                        </div>
                    </div>
                    <div class="row mt-3" style="justify-content: center;">
                        <div class="col-5" style="background-color:  rgb(101, 56, 56); padding-top: 7px; padding-bottom: 7px; color: white;">
                            <input type="checkbox" class="form-check-input me-2" style="background-color: grey;">
                            Tigre 🐅 : corps symétrique et proportionné —-
                        </div>
                    </div>
                    <div class="row mt-3" style="justify-content: center;">
                        <div class="col-5" style="background-color:  rgb(101, 56, 56); padding-top: 7px; padding-bottom: 7px; color: white;">
                            <input type="checkbox" class="form-check-input me-2" style="background-color: grey;">
                            Éléphant 🐘 : Enrobé avec une large carrure —-
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>