<app-web-header></app-web-header>

<div class="app__wrapper align-items-center">
    <div class="row" style="margin-top: 100px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 style="font-weight: bolder;">DOSHA QUIZ</h2>
                </div>
            </div>
            <div class="row mt-3" *ngFor="let eachQuiz of this.selectedQuestion;" style="margin-left: 20px; margin-right: 20px;">
                <div class="col-12 text-center">
                    <p style="font-size: 30px;">{{ currentQuestion + 1 }} . {{ eachQuiz.questionName }}</p>
                </div>
                <div class="col-12">
                    <div class="row mb-3" style="justify-content: center;" *ngFor="let eachAnswer of eachQuiz.answers; index as i">
                        <div class="col-8 text-center" [ngClass]="{'custom-bg-dark text-white': isSelected(i + 1)}" style="padding-top: 14px; padding-bottom: 14px; color: #260E0A; font-size: 20px; border: 3px solid #260E0A;" (click)="onSelectOption(i + 1)">
                            {{ eachAnswer }}
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <label for="">{{ currentQuestion + 1 }} / {{ this.quizModelList.length }}</label>
                </div>
                <div class="col-12 text-center mt-3" *ngIf="this.currentQuestion >= 1" >
                    <button class="btn btn-primary btn-sm" style="background-color: #260E0A; border: none; border-radius: 0; padding: 5px 12px 6px 12px;" (click)="onClickPrevButton()">précedent</button>
                </div>
            </div>
        </div>
    </div>
</div>